<!doctype html>
<html lang="zxx">
<head>
		<!-- Meta -->
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <title>Aston</title>
            <!-- Favicon icon -->
            <link rel="icon" type="image/png" sizes="16x16" href="images1/logo.png">	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,700i,800,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700,800,900" rel="stylesheet">
		<link href="fonts/font-awesome.min.css" rel="stylesheet"/>
		<link href="fonts/etline.css" rel="stylesheet"/>
		<link href="fonts/themify-icons.css" rel="stylesheet"/>
		<link href="css1/plugins.css" rel="stylesheet"/>
		<link href="css1/lightbox.min.css" rel="stylesheet"/>
		<link href="css1/responsive.css" rel="stylesheet"/>
		<link href="css1/style.css" rel="stylesheet"/>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body data-spy="scroll" data-target=".navbar" data-offset="70">
		<!-- START PRELOADER -->
			<div class="preloader">
				<div class="spinner">
					<div class="double-bounce1"></div>
					<div class="double-bounce2"></div>
				</div>
			</div>
		<!-- END PRELOADER -->
		<!-- START NAVBAR -->
			<div class="navbar navbar-default navbar-fixed-top menu-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="/" class="navbar-brand w-text">ASTON</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home" class="smoothScroll">Home</a></li>
							<li><a href="#about" class="smoothScroll">About</a></li>
							<li><a href="#service" class="smoothScroll">Core Features</a></li>
							<li><a href="#portfolio" class="smoothScroll">How it Works</a></li>
							<li><a href="#resume" class="smoothScroll">Benefits</a></li>	
							<li><a href="#blog" class="smoothScroll">Project</a></li>													
							<li><a href="#contact" class="smoothScroll">Contact us</a></li>
						</ul>
					</div> 
				</div> <!--- END CONTAINER -->
			</div> 
		<!-- END NAVBAR -->			
		<!-- START BANNER-SHOW -->
			<section id="home" class="main_banner banner_bg">
				<div class="res-text">ASTON</div>
				<div class="display_table">
					<div class="display_table_cell">
						<div class="container">
							<div class="row">
								<div class="col-md-6">
									<div class="banner_content text-left">
										<span class="sm_title">Get Ready! ASTON SMART CONTRACT </span>
										<h1 class="cd-headline clip">
											<span class="fw_300">Aston... more Ethereum profit in</span>
											<span class="cd-words-wrapper c-cyan">
												<b class="is-visible fw_800">not a sale</b>
												<b class="fw_800">not a trading</b>
												<b class="fw_800">not an ICO</b>
											</span>
										</h1>
										<p class="head-p"> The ASTON Decentralized Project's Smart Contract is publicly and perpetually available to view on the Ethereum Blockchain,it is  verified and open source smart contract. </p>
										<div class="btn-wrap">
								            <a href="/signup" class="btn btn-default main_btn"><span>Register</span></a>
								            <a href="/login" class="btn btn-default main_btn"><span>Login </span></a>
										</div>
									</div>
								</div>
							</div> <!--- END ROW -->
						</div> <!--- END CONTAINER -->
					</div>
				</div>
				<div class="mouse_scroll">
					<a href="#about" class="smoothScroll">
						<div class="mouse">
							<i class="ti-angle-double-down"></i>
						</div>
					</a>
				</div>
			</section>
		<!-- END BANNER-SHOW -->
		<!-- START ABOUT -->
		<section id="about" class="section_padding">
			<div class="container">	
				<div class="row flex relative align-items-center">
					<div class="row">
						<div class="box-shadow col-md-10 " style="background: #fff;">
							<div class="row">
								<div class="col-md-5 no-pl col-sm-12 col-xs-12">
									<div class="about_img">
										<img src="images1/about1.png" alt="about-img">
										<a href="#" class="video-btn"><i class="fa fa-play"></i></a>
									</div>
								</div>
								<div class="col-md-7 col-sm-12 col-xs-12">
									<div class="about_content_area">
										<h5 class="blue has-before">Dedicated Decentralised Platform</h5>
										<h3>Get Benefits of Aston Smart Contract.</h3>
										<p>No "payment requests" and no need to wait. Your funds are immediately transferred to your wallet.This is the world first System that no one controls. The human factor (including the admin factor) is completely absent. Nobody can stop, make changes to the System or to hold your funds. The open source smart contract cannot be removed from the Ethereum network.The administration of the project does not have access to your money, all calculations are made through a smart contract (it cannot be changed), which immediately redirects funds to the ETH wallet.</p>
										<div class="about_me">
		                                    
		                                </div>
									<!--	<div class="about_btn">
											<a href="#0" class="btn btn-default contact_number hidden-md">0x5acc84a3e955Bdd76467d3348077d003f00fFB97 </a>
										</div>-->
									</div>
								</div> 
							</div>
						</div>
						<div class="col-md-2"><div class="about-txt"> <span>ETHEREUM</span></div></div>
					</div>
				</div>
			</div> <!--- END CONTAINER -->
		</section>
		<!-- END ABOUT -->
		<!-- START FEATURES -->	
		<section  class="features section_padding pb_70">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="resume-container">
							<div class="row">
								<div class="col-md-12">
									<h5 class="c-cyan">Why Ethereum Smart Contracts ?</h5>
								    <h3 class="w-text"><i class="icon-trophy"></i>Core Features:</h3>
									<div class="single_resume wow fadeInLeft" data-wow-delay="0.2s">
										<div class="icon-box">
											<img src="images1/elements/i1.png" alt="">
										</div>
										<div class="resume-desc">
											<h5 class="w-text">Instant Peer-to-Peer Payments</h5>
										    <p class="g-text">Aston smart contract is P2P commission payments between its program participants.</p>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="single_resume wow fadeInLeft" data-wow-delay="0.4s">
										<div class="icon-box">
											<img src="images1/elements/i2.png" alt="">
										</div>
										<div class="resume-desc">
											<h5 class="w-text">Transparency and Anonymity</h5>
										    <p class="g-text">Verifiable proof of the project’s performance statistics as well as its partners transaction  </p>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="single_resume wow fadeInLeft" data-wow-delay="0.6s">
										<div class="icon-box">
											<img src="images1/elements/i3.png" alt="">
										</div>
										<div class="resume-desc">
											<h5 class="w-text">Zero Risk Factors
</h5>
										    <p class="g-text">Self-executing contract on Blockchain that exists in perpetuity & can't be modified. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
					</div>
				</div> <!--- END ROW -->
			</div> <!--- END CONTAINER -->
		</section>
		
		<!-- END FEATURES -->
		<!-- START COUNTER -->
	    <section id="counter_area" class="counter-v2 gray_bg section_padding">
			<div class="container">
				<div class="row text-left">
					<div class="col-md-7">
						<div class="content_area">
							<h5 class="blue has-before">100% Decentralised Project</h5>
							<h3>Get Benefits of 100% Decentralised Ethereum Blockchain Project.</h3>
							<p>Reconciliation of these transactions are performed by a global collection of computer 'nodes' that are volunteered for service by human and corporate entity 'miners' (the computer owners) who are members of the Ethereum Blockchain’s globally distributed network infrastructure. </p>
							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="feat-box">
										<img src="images1/elements/f1.png" alt="">
										<h4 class="feat-head">Full decentralization</h4>
										<p class="feat-desc">Nobody can stop, make changes to the System or to hold your funds. </p>
									</div>
								</div>
								<div class="col-sm-6 col-xs-12">
									<div class="feat-box">
										<img src="images1/elements/f2.png" alt="">
										<h4 class="feat-head">Unable to stop  system</h4>
										<p class="feat-desc">Even if project site will cease to exist, eternal work of system is guaranteed </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
						<div class="facts-wrapper box-shadow">
							<h5 class="blue has-before">Our Fun Facts</h5>
							<h3>Number We Proud Of</h3>
							
							<div class="single_counter">
								<span class="co-inner">01</span>
								<div class="icon">
									<i class="icon-happy"></i>
								</div>
								<div class="counter-desc">
									<span class="counter">751</span>
									<p>Total Participants</p>
								</div>
							</div>
							<div class="single_counter">
								<span class="co-inner">02</span>
								<div class="icon">
									<i class="icon-trophy"></i>
								</div>
								<div class="counter-desc">
									<span class="counter">56</span>
									<p>New for the day</p>
								</div>
							</div>
							<div class="single_counter">
								<span class="co-inner">03</span>
								<div class="icon">
									<i class="icon-briefcase"></i>
								</div>
								<div class="counter-desc">
									<span class="counter">478</span>
									<p>Only
earned</p>
								</div>
							</div>
							<div class="single_counter mb-0">
								<span class="co-inner">04</span>
								<div class="icon">
									<i class="icon-profile-male"></i>
								</div>
								<div class="counter-desc">
									<span class="counter">234</span>
									<p>Earned
during the day</p>
								</div>
							</div>
						</div>
					</div>
				</div> <!--- END ROW -->
			</div> <!--- END CONTAINER -->
		</section>
		<!-- END COUNTER -->
		<section  class="how-it-work section_padding pb_70">
			<div class="container">
				<div class="section_heading text-center">
					<h2 class="w-text">How It Works</h2>
					<p class="g-text">3 SIMPLE STEPS</p>
				</div>	
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="feat-box v2 text-center">
							<div class="overlay-f relative"></div>
							<img src="images1/elements/step1.svg" alt="">
							<h4 class="feat-head">Signing up</h4>
							<p class="feat-desc">Send 0.25 ETH to contract address, which will back to the members. In 1 click without password  </p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="feat-box v2 text-center">
							<img src="images1/elements/step2.svg" alt="">
							<h4 class="feat-head">Attract referrals</h4>
							<p class="feat-desc">Attract referrals personaly & social media or wait referrals from the Aston system .</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="feat-box v2 text-center">
							<img src="images1/elements/step3.svg" alt="">
							<h4 class="feat-head">Automate System</h4>
							<p class="feat-desc">Receive funds immediately to ETH wallet without confirmation and payment requests  .</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="about2 section_padding relative">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div class="about2-wrap relative"></div>
					</div>	
					<div class="box-shadow purple-bg col-md-10">
							<div class="row">
								<div class="col-md-6 no-pl col-sm-12 col-xs-12">
									<div class="about_img">
										<img src="images1/about2.png" alt="about-img" />
									</div>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 no-pr">
									<div class="about_content_area custom">
										<h5 class="c-cyan has-before">Dedicated Decentralised App</h5>
										<h3 class="w-text">Get Benefits of using Ethereum Smart Contract.</h3>
										<p class="g-text">Ethereum - the SECOND cryptocurrency in the world by popularity after Bitcoin and the FIRST by popularity with the ability of smart contract creation.</p>
										<div class="row mt-30">
			                                <div class="col-md-6">
			                                    <div class="side-feature-list-item">
			                                        <img src="images1/elements/feature-1.svg" class="check-mark-icon" alt="">
			                                        <div class="foot-c-info"> Verified & open source smart contract</div>
			                                    </div>
			                                </div>
			                                <div class="col-md-6">
			                                    <div class="side-feature-list-item">
			                                        <img src="images1/elements/feature-2.svg" class="check-mark-icon" alt="">
			                                        <div class="foot-c-info">It is an algorythm of cryptocurrency distribution</div>
			                                    </div>
			                                </div>
			                                <div class="col-md-6">
			                                    <div class="side-feature-list-item">
			                                        <img src="images1/elements/feature-3.svg" class="check-mark-icon" alt="">
			                                        <div class="foot-c-info">Impossible to hack an account  </div>
			                                    </div>
			                                </div>
			                                <div class="col-md-6">
			                                    <div class="side-feature-list-item">
			                                        <img src="images1/elements/feature-4.svg" class="check-mark-icon" alt="">
			                                        <div class="foot-c-info">great User Experience</div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="about_btn">
											<a href="#0" class="btn cyan-btn">contact Us</a>
										</div>
									</div>
								</div> 
							</div>
						</div>
				</div>
			</div>
		</section>
		<section class="section_padding no-pt pb_70">
			<div class="container">
				<div class="section_heading text-center">
					<h2>Aston Decentralised App (Dapp)</h2>
					<p>The ASTON smart contract is uploaded into the Ethereum cryptocurrency network and even theoretically cannot be changed or deleted by anyone, including its creators. Therefore nobody and nothing can stop the work of the System even in case of site closure or administartion disappear. ASTON system does not belong to anyone and works independently of the site. </p>
				</div>	
				<div class="row text-center">
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="feat-box v2 border-b text-center">
							<img src="images1/elements/feat1.png" alt="">
							<p class="feat-desc">Unstoppable Protocol.</p>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="feat-box v2 border-b text-center">
							<img src="images1/elements/feat2.png" alt="">
							<p class="feat-desc">Development Team.</p>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="feat-box v2 border-b text-center">
							<img src="images1/elements/feat3.png" alt="">
							<p class="feat-desc">Aston Smart Dapp.</p>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="feat-box v2 border-b text-center">
							<img src="images1/elements/feat4.png" alt="">
							<p class="feat-desc">Verified Audited Contract.</p>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="feat-box v2 border-b text-center">
							<img src="images1/elements/feat5.png" alt="">
							<p class="feat-desc">No Risk & High Returns.</p>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<div class="feat-box v2 border-b text-center">
							<img src="images1/elements/feat6.png" alt="">
							<p class="feat-desc">P2P Payment System</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- START SERVICE -->
		<section id="service" class="serv-bg section_padding pb_70">
			<div class="container">
				<div class="section_heading text-center">
					<h2 class="w-text">Ethereum Blockchain Project</h2>
					<p class="g-text">Revolutionary Smart Contract* technology provides decentralized market participants with the ability to directly engage in personal and business transactions. </p>
				</div>	
				<div class="row text-center">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="service_slider owl-carousel">
							<div class="single_service">
								<div class="service_icon">
									<img src="images1/elements/serv1.png" alt="">
								</div>
								<h4>Zero Risk Factors</h4>
								<P>Aston developers deployed a self-executing smart contract on the Ethereum Blockchain that exists in perpetuity and cannot be modified by any entity. </P>
								<a href="#0" class="btn graen-btn">Learn More</a>
							</div>
							<div class="single_service">
								<div class="service_icon">
									<img src="images1/elements/serv2.png" alt="">
								</div>
								<h4> Transparency and Anonymity</h4>
								<P>Verifiable proof of the project’s performance statistics as well as its partners transaction history are publicly available on the Ethereum blockchain. </P>
								<a href="#0" class="btn graen-btn">Learn More</a>
							</div>
							<div class="single_service">
								<div class="service_icon">
									<img src="images1/elements/serv3.png" alt="">
								</div>
								<h4>Transactional Surety</h4>
								<P> Ethereum Network nodes irrevocably record and ubiquitously store the transactional history of all Aston network partners on the Ethereum Blockchain.</P>
								<a href="#0" class="btn graen-btn">Learn More</a>
							</div>
							<div class="single_service">
								<div class="service_icon">
									<img src="images1/elements/serv4.png" alt="">
								</div>
								<h4>Instant P2P Payments</h4>
								<P>The Aston smart contract is nothing more than a payment gateway that facilitates peer-to-peer commission payments between its program participants.</P>
								<a href="#0" class="btn graen-btn">Learn More</a>
							</div>
							<div class="single_service">
								<div class="service_icon">
									<img src="images1/elements/serv5.png" alt="">
								</div>
								<h4>Immutability</h4>
								<P>Indefinite access to the Forsage project is an intrinsic feature programmed into the smart contract to enable continued participation in the matrix project. </P>
								<a href="#0" class="btn graen-btn">Learn More</a>
							</div>
							<div class="single_service">
								<div class="service_icon">
									<img src="images1/elements/serv6.png" alt="">
								</div>
								<h4>Nonhierarchically Organized</h4>
								<P>A crowdfunded decentralized project specifically designed to stimulate a global relocation to the crypto ecosystem by offering newcomers a seamless introductory experience.</P>
								<a href="#0" class="btn graen-btn">Learn More</a>
							</div>
						</div>
					</div> <!-- End Col -->
				</div> <!--- END ROW -->
			</div> <!--- END CONTAINER -->
		</section>
		<!-- END SERVICE -->
		<!-- START TESTIMONIALS -->
		<!---<section id="testimonial_area" class="section_padding relative test-bg">
			<div class="testimonial-bg"></div>
			<div class="container">
				<div class="section_heading text-center">
					<h2 class="">What Clients are Saying</h2>
					<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie, justo nec convallis sollicitudin.</p>
				</div>	
				<div class="row">		
					<div class="col-md-10 col-md-offset-1 over-hiddern text-center">
						<div class="testimonial_area owl-carousel">
							<div class="single_testimonial">
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad asperiores at atque culpa dolores eaque fugiat hic illo ipsam ipsum minima modi necessitatibus nemo officia, omnis perferendis placeat quaerat quas quis ratione rerum sint sit vitae.
								</p>
								<div class="pic">
									<img src="images1/testimonial/1.jpg" alt="" />
								</div>
								<h5 class="title">William Baker</h5>
								<span class="post">Developer</span>
							</div><!-- end Single Testimonials -->	
							<!---<div class="single_testimonial">	
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad asperiores at atque culpa dolores eaque fugiat hic illo ipsam ipsum minima modi necessitatibus nemo officia, omnis perferendis placeat quaerat quas quis ratione rerum sint sit vitae.
								</p>
								<div class="pic">
									<img src="images1/testimonial/2.jpg" alt="" />
								</div>
								<h5 class="title">James Baker</h5>
								<span class="post">Designer</span>
							</div><!-- end Single Testimonials -->
							<!---<div class="single_testimonial">	
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad asperiores at atque culpa dolores eaque fugiat hic illo ipsam ipsum minima modi necessitatibus nemo officia, omnis perferendis placeat quaerat quas quis ratione rerum sint sit vitae.
								</p>
								<div class="pic">
									<img src="images1/testimonial/3.jpg" alt="" />
								</div>
								<h5 class="title">William Baker</h5>
								<span class="post">Developer</span>
							</div><!-- end Single Testimonials -->
							<!---<div class="single_testimonial">	
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad asperiores at atque culpa dolores eaque fugiat hic illo ipsam ipsum minima modi necessitatibus nemo officia, omnis perferendis placeat quaerat quas quis ratione rerum sint sit vitae.
								</p>
								<div class="pic">
									<img src="images1/testimonial/4.jpg" alt="" />
								</div>
								<h5 class="title">James Baker</h5>
								<span class="post">Designer</span>
							</div><!-- end Single Testimonials -->
						<!---</div>
					</div>
				</div> <!--- END ROW -->
			<!---</div> <!--- END CONTAINER -->
		<!---</section>
		<!-- END TESTIMONIALS -->
		<!-- START BLOG -->
		<!--<section id="blog" class="gray_bg section_padding pb_70">
			<div class="container">
				<div class="section_heading text-center">
					<h2>Latest Blog Posts</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie, justo nec convallis sollicitudin.</p>
				</div>	
				<div class="row">
					<div class="blog_slide_area">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single_blog">
								<div class="blog-thumb">
									<div class="blog-image">
										<img src="images1/blog/blog1.jpg" class="img-responsive" alt="">
									</div>
									<div class="blog-info">
										<small><i class="fa fa-clock-o"></i>October 21, 2019</small>
										<span>| lifestyle</span>
										<a href="#0"><h4>Beautiful Working Idea.</h4></a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet incidunt quidem illum repellat</p>
										<a href="#0" class="btn graen-btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single_blog">
								<div class="blog-thumb">
									<div class="blog-image">
										<img src="images1/blog/blog2.jpg" class="img-responsive" alt="">
									</div>
									<div class="blog-info">
										<small><i class="fa fa-clock-o"></i>October 21, 2019</small>
										<span>| lifestyle</span>
										<a href="#0"><h4>Drive Traffic to Website</h4></a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet incidunt quidem illum repellat</p>
										<a href="#0" class="btn graen-btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single_blog">
								<div class="blog-thumb">
									<div class="blog-image">
										<img src="images1/blog/blog3.jpg" class="img-responsive" alt="">
									</div>
									<div class="blog-info">
										<small><i class="fa fa-clock-o"></i>October 21, 2019</small>
										<span>| lifestyle</span>
										<a href="#0"><h4>Latest Business strategies</h4></a>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet incidunt quidem illum repellat</p>
										<a href="#0" class="btn graen-btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!--- END ROW -->
			<!---</div>  END CONTAINER -->
		<!---</section>
		<!-- END BLOG -->
		<section class="Contact-us section_padding relative" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div class="about2-wrap relative"></div>
					</div>	
					<div class="box-shadow col-md-10">
						<div class="row">
							<div class="col-md-6 no-pl col-sm-12 col-xs-12">
								<div class="about_img">
									<img src="images1/about3.png" alt="about-img" />
								</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="about_content_area">
									<h5 class="blue">You Are Welcome to become our Promoter</h5>
									<h3>Contact Us Now!</h3>
									<div class="contact">
										<form id="contact-form" method="post" enctype="multipart/form-data">
											<div class="row">
												<div class="input_padding text-center">
													<div class="form-group col-sm-12">
														<input type="text" name="name" class="form-control" id="first-name" placeholder="Name *" required="required">
													</div>
													<div class="form-group col-sm-12">
														<input type="email" name="email" class="form-control" id="email" placeholder="Email *" required="required">
													</div>
													<div class="form-group col-sm-12">
														<input type="text" name="subject" class="form-control" id="subject" placeholder="Subject *" required="required">
													</div>
													<div class="form-group col-sm-12 mab-none">
														<textarea rows="8" name="message" class="form-control" id="description" placeholder="Your Message Here ..." required="required"></textarea>
													</div>
													<div class="form-group mb0 col-sm-12">
														<div class="actions">
															<button type="submit" value="Send Your Message" name="submit" id="submitButton" class="btn graen-btn" title="Click here to submit your message!">Send Your Message</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- START FOOTER -->
		<footer class="footer-sec">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2 col-xs-12">
						<!---<div class="sub_title">
							<a href="#"><span>Home</span> </a>
							<a href="#"><span>About Us</span></a>
							<a href="#"><span>Technology</span> </a>
							<a href="#"><span>Products</span> </a>
							<a href="#"><span>Services</span> </a>
						</div>-->
						<ul class="banner_social_link">					
							<li><a href="#00"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#0"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#0"><i class="fa fa-linkedin"></i></a></li>		
							<li><a href="#0"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#0"><i class="fa fa-behance"></i></a></li>
						</ul>
						<p class="w-text">CopyRight © 2020 All Rights Reserved</p>
					</div> <!-- END COL -->
				</div> <!--- END ROW -->	
			</div> <!--- END CONTAINER -->
		</footer>
		<!-- END FOOTER -->
		<!-- Latest jQuery -->
		<script src="js1/jquery.min.js"></script>
		<script src="js1/bootstrap.min.js"></script>
		<script src="js1/owl.carousel.min.js"></script>
		<script src="js1/modernizr-2.8.3.min.js"></script>
		<script src="js1/jquery.inview.min.js"></script>
		<script src="js1/isotope.pkgd.min.js"></script>
		<script src="js1/animated-headline.js"></script>
		<script src="js1/lightbox.min.js"></script>
		<script src="js1/smoothscroll.js"></script>
		<script src="js1/form-contact.js"></script>
		<script src="js1/jquery.hoverdir.js"></script>
		<script src="js1/scrolltopcontrol.js"></script>
		<script src="js1/wow.min.js"></script>
		<script src="js1/main.js"></script>
	</body>
</html>		