<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Aston</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/logo.png">
   <!-- Connecting stylesheets-->
    <script src="cdn-cgi/apps/head/qz1ji3jkpnt9nwuknypnmoyn8je.js"></script><link rel="stylesheet" href="ajax/libs/materialize/1-0-0/css/materialize.min.css">
    <link rel="stylesheet" href="gh/fancyapps/fancybox_3-5-7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css1/styles.css">
    <link rel="stylesheet" href="assets/revealator/fm.revealator.jquery.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img1/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img1/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img1/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img1/favicon/site.webmanifest">
    <link rel="mask-icon" href="img1/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="img1/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="aston">
    <meta name="application-name" content="aston">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img1/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <!-- !!begin of page-->
    <!-- header -->
    <header class="header">
        <div class="header-wrap">
            <div class="header-logo">
                <h2 class="logo">aston</h2>
            </div>
            <div class="header-lang">
                                <div class="header-lang__option ">
                    <div class="header-lang__option-flag">
                        <img src="img1/flags/ru.svg" alt="ru">
                    </div>
                                        <a href="#" class="header-lang__option-name">
                        РУССКИЙ                    </a>
                                    </div>
                                <div class="header-lang__option current">
                    <div class="header-lang__option-flag">
                        <img src="img1/flags/en.svg" alt="en">
                    </div>
                                        <div class="header-lang__option-name">
                        ENGLISH                    </div>
                                    </div>
                                <div class="header-lang__option ">
                    <div class="header-lang__option-flag">
                        <img src="img1/flags/de.svg" alt="de">
                    </div>
                                        <a href="#" class="header-lang__option-name">
                        GERMAN                    </a>
                                    </div>
                                <div class="header-lang__option ">
                    <div class="header-lang__option-flag">
                        <img src="img1/flags/es.svg" alt="es">
                    </div>
                                        <a href="#" class="header-lang__option-name">
                        SPANISH                    </a>
                                    </div>
                                <div class="header-lang__option ">
                    <div class="header-lang__option-flag">
                        <img src="img1/flags/fr.svg" alt="fr">
                    </div>
                                        <a href="#" class="header-lang__option-name">
                        FRENCH                    </a>
                                    </div>
                                <div class="header-lang__option ">
                    <div class="header-lang__option-flag">
                        <img src="img1/flags/it.svg" alt="it">
                    </div>
                                        <a href="#" class="header-lang__option-name">
                        ITALIAN                    </a>
                                    </div>
                                <div class="header-lang__option ">
                    <div class="header-lang__option-flag">
                        <img src="img1/flags/az.svg" alt="az">
                    </div>
                                        <a href="#" class="header-lang__option-name">
                        AZƏRBAYCAN                    </a>
                                    </div>
                            </div>
        </div>
    </header>
    <!-- //header -->
    <!-- sections -->
    <div class="wrapper" id="wrapper">
        <!-- First section -->
<div class="section heading">
    <div class="section-content heading-content">
        <div class="heading-content__cat">
            <img src="img1/photos/cat_figure.svg" alt="">
        </div>
        <div class="heading-content__title"><h1 class="global-title">THE WORLD'S FIRST </h1></div>
        <div class="heading-content__subtitle"><h2 class="global-subtitle"><span>100%</span> DECENTRALIZED </h2></div>
        <div class="heading-content__btns flex">
            <div class="btn-wrap">
                <a href="/signup" class="def-btn def-blue">JOIN NOW </a>
            </div>
     
            <div class="btn-wrap"><a href="/login" class="def-btn def-purple" style="white-space: nowrap;">Login </a></div>
        </div>
    </div>
    <div class="section-titling heading-titling">
        TREND 2020    </div>
    <div class="section-bg heading-bg"></div>
    <div class="section-shadow heading-shadow2"></div>
    <div class="section-shadow heading-shadow3"></div>
    <div class="section-shadow heading-shadow4"></div>
    <div class="section-shadow heading-shadow5"></div>
</div>
<!-- Second section -->
<div class="section advantages">
    <div class="section-content advantages-content">
        <div class="advantages-list">
            <div class="advantages-list__title default-title revealator-slideleft revealator-once"><h2><span>Ethereum</span> Blockchain Matrix Project</h2></div>
            <div class="advantages-list__subtitle  revealator-slideright revealator-once"> Revolutionary Smart Contract* technology provides decentralized market participants with the ability to directly engage in personal and business transactions.  <br>The aston Decentralized Matrix Project's Smart Contract is publicly and perpetually available to view on the Ethereum Blockchain.
 </div>
            <div class="advantages-list-block">
                <div class="advantage revealator-zoomin revealator-once">
                    <div class="advantage-title">Zero Risk Factors</div>
                    <div class="advantage-text">On February 6, 2020, aston developers deployed a self-executing smart contract on the Ethereum Blockchain that exists in perpetuity and cannot be modified by any entity.  </div>
                </div>
                <div class="advantage revealator-zoomin revealator-once">
                    <div class="advantage-title">Immutability</div>
                    <div class="advantage-text">Indefinite access to the aston project is an intrinsic feature programmed into the smart contract to enable continued participation in the matrix project. 
</div>
                </div>
                <div class="advantage revealator-zoomin revealator-once">
                    <div class="advantage-title">Instant Peer-to-Peer Payments</div>
                    <div class="advantage-text">The aston smart contract is nothing more than a payment gateway that facilitates peer-to-peer commission payments between its program participants.</div>
                </div>
                <div class="advantage revealator-zoomin revealator-once">
                    <div class="advantage-title">Nonhierarchically Organized</div>
                    <div class="advantage-text">A crowdfunded decentralized matrix project specifically designed to stimulate a global relocation to the crypto ecosystem by offering newcomers a seamless introductory experience.</div>
                </div>
                <div class="advantage revealator-zoomin revealator-once">
                    <div class="advantage-title">Transparency and Anonymity</div>
                    <div class="advantage-text">Verifiable proof of the project’s performance statistics as well as its partners transaction history are publicly available on the Ethereum blockchain.   </div>
                </div>
                <div class="advantage revealator-zoomin revealator-once">
                    <div class="advantage-title">Transactional Surety</div>
                    <div class="advantage-text">Network nodes irrevocably record and ubiquitously store the transactional history of all aston network partners on the Ethereum Blockchain.</div>
                </div>
            </div>
            <div class="advantages-list__subtitle revealator-slidedown revealator-once" align="right"><br><br><small>
	            *A Smart Contract is a computer-programmed code containing a stringent set of criteria that must be satisfied before a transaction will be approved.  <br>Reconciliation of these transactions are performed by a global collection of computer 'nodes' that are volunteered for service by human<br> and corporate entity 'miners' (the computer owners) who are members of the Ethereum Blockchain’s globally distributed network infrastructure.  </small></div>
        </div>
        <div class="advantages-number">
            <div class="advantages-number-wrap flex">
                <div class="advantages-number__item revealator-zoomin revealator-once">
                    <div class="advantages-number__item-title">Total Participants</div>
                    <div class="advantages-number__item-content"><nobr>0</nobr></div>
                </div>
                <div class="advantages-number__item revealator-zoomin revealator-once">
                    <div class="advantages-number__item-title">New for the day</div>
                    <div class="advantages-number__item-content"><nobr>0</nobr></div>
                </div>
                <div class="advantages-number__item revealator-zoomin revealator-once">
                    <div class="advantages-number__item-title">Only <br>earned</div>
                    <div class="advantages-number__item-content"><nobr>0<span> ETH</span></nobr></div>
                </div>
                <div class="advantages-number__item revealator-zoomin revealator-once">
                    <div class="advantages-number__item-title">Earned <br>during the day</div>
                    <div class="advantages-number__item-content"><nobr>0<span> ETH</span></nobr></div>
                </div>											
            </div>
        </div>
    </div>
    <div class="section-titling advantages-titling advantages-titling">UNIQUE</div>
    <div class="section-bg advantages-bg"></div>
    <div class="section-shadow advantages-shadow1"></div>
    <div class="section-shadow advantages-shadow2"></div>
    <div class="section-shadow advantages-shadow3"></div>
    <div class="section-shadow advantages-shadow4"></div>
</div>
<!-- Third section -->
<div class="section results">
    <div class="section-content results-content">
        <div class="results-title">
            <div class="default-title revealator-slideleft revealator-once">
                <h2><span>Results</span> partners</h2>
            </div>
        </div>
        <div class="results-subtitle revealator-slideleft revealator-once">
            <div class="results-subtitle__text">All data is is stored on the blockchain and publicly accessible at etherscan.io</div>
            <div class="results-subtitle__info">Contract address: 
                <a href="https://rinkeby.etherscan.io/address/0xF29aa34099729baa98b17C8FD5b8c11d8d00B9b1" target="_blank">
                    0xF29aa34099729baa98b17C8FD5b8c11d8d00B9b1

                </a>
            </div>
        </div>
        <div class="carousel" id="carousel">
                        <div class="carousel-item">
                <div class="carousel-item__info">
                    <div class="carousel-item__info-id">ID 1</div>
                    <div class="carousel-item__info-users">
                                            </div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">USD balance</div>
                    <div class="carousel-item__block-info">$0</div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">Balance ETH</div>
                    <div class="carousel-item__block-info">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X3</span></div>
                    <div class="carousel-item__subitem-row">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X4</span></div>
                    <div class="carousel-item__subitem-row">0 <span>ETH</span></div>
                </div>
            </div>
                        <div class="carousel-item">
                <div class="carousel-item__info">
                    <div class="carousel-item__info-id">ID 8679</div>
                    <div class="carousel-item__info-users">
                                                    0                                          </div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">USD balance</div>
                    <div class="carousel-item__block-info">$0</div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">Balance ETH</div>
                    <div class="carousel-item__block-info">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X3</span></div>
                    <div class="carousel-item__subitem-row">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X4</span></div>
                    <div class="carousel-item__subitem-row">0 <span>ETH</span></div>
                </div>
            </div>
                        <div class="carousel-item">
                <div class="carousel-item__info">
                    <div class="carousel-item__info-id">ID 8648</div>
                    <div class="carousel-item__info-users">
                                                   0                                           </div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">USD balance</div>
                    <div class="carousel-item__block-info">$0</div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">Balance ETH</div>
                    <div class="carousel-item__block-info">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X3</span></div>
                    <div class="carousel-item__subitem-row">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X4</span></div>
                    <div class="carousel-item__subitem-row">0 <span>ETH</span></div>
                </div>
            </div>
                        <div class="carousel-item">
                <div class="carousel-item__info">
                    <div class="carousel-item__info-id">ID 7977</div>
                    <div class="carousel-item__info-users">
                                                   0                                           </div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">USD balance</div>
                    <div class="carousel-item__block-info">$0</div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">Balance ETH</div>
                    <div class="carousel-item__block-info">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X3</span></div>
                    <div class="carousel-item__subitem-row">0<span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X4</span></div>
                    <div class="carousel-item__subitem-row">0<span>ETH</span></div>
                </div>
            </div>
                        <div class="carousel-item">
                <div class="carousel-item__info">
                    <div class="carousel-item__info-id">ID 113</div>
                    <div class="carousel-item__info-users">
                                                    0                                           </div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">USD balance</div>
                    <div class="carousel-item__block-info">$0</div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">Balance ETH</div>
                    <div class="carousel-item__block-info">0<span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X3</span></div>
                    <div class="carousel-item__subitem-row">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X4</span></div>
                    <div class="carousel-item__subitem-row">0 <span>ETH</span></div>
                </div>
            </div>
                        <div class="carousel-item">
                <div class="carousel-item__info">
                    <div class="carousel-item__info-id">ID 7515</div>
                    <div class="carousel-item__info-users">
                                                    0                                           </div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">USD balance</div>
                    <div class="carousel-item__block-info">$0</div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">Balance ETH</div>
                    <div class="carousel-item__block-info">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X3</span></div>
                    <div class="carousel-item__subitem-row"> <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X4</span></div>
                    <div class="carousel-item__subitem-row"> <span>ETH</span></div>
                </div>
            </div>
                        <div class="carousel-item">
                <div class="carousel-item__info">
                    <div class="carousel-item__info-id">ID 731</div>
                    <div class="carousel-item__info-users">
                                                    9                                            </div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">USD balance</div>
                    <div class="carousel-item__block-info">$0</div>
                </div>
                <div class="carousel-item__block">
                    <div class="carousel-item__block-title">Balance ETH</div>
                    <div class="carousel-item__block-info">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X3</span></div>
                    <div class="carousel-item__subitem-row">0 <span>ETH</span></div>
                </div>
                <div class="carousel-item__subitem">
                    <div class="carousel-item__subitem-title">aston <span>X4</span></div>
                    <div class="carousel-item__subitem-row">0 <span>ETH</span></div>
                </div>
            </div>
                    </div>
        <div class="carousel-nav">
            <div class="carousel-nav__arrow carousel-nav__prev"></div>
            <div class="carousel-nav-dots"></div>
            <div class="carousel-nav__arrow carousel-nav__next"></div>
        </div>
    </div>
    <div class="sectiont-titling results-titling"></div>
    <div class="section-bg results-bg"></div>
    <div class="results-second-bg"></div>
    <div class="section-shadow results-shadow1"></div>
    <div class="section-shadow results-shadow2"></div>
    <div class="section-shadow results-shadow3"></div>
    <div class="section-shadow results-shadow4"></div>
</div>
<!-- Fourth section -->
<div class="section examples">
    <div class="section-content examples-content">
        <div class="examples-title">
            <div class="default-title revealator-slideleft revealator-once">
                <h2><span>COMMISSION PAYOUT SYSTEM</span><br> X3 AND X4 PARTNER INCOME EXPLAINED </h2>
            </div>
        </div>
        <div class="examples-blocks">
            <div class="example">
                <div class="example-title">aston<span>X3</span></div>
                <div class="example-container">
                    <div class="example-row"><script type="text/javascript" style="display:none">
//<![CDATA[
window.__mirage2 = {petok:"2663652a82637d19534ccb3cac86d2c5acefa796-1591080041-1800"};
//]]>
</script>
<script type="text/javascript" src="cdn-cgi/scripts/04b3eb47/cloudflare-static/mirage2.min.js"></script>
<img data-cfsrc="img1/icons/repeat_icon.png" alt="repeat" style="display:none;visibility:hidden;"><noscript><img src="img1/icons/repeat_icon.png" alt="repeat"></noscript><span>Automatic deduction of reinvestment fees keeps your slot(s) active as new partners register in your downstream structure</span></div>
                    <div class="example-row"><img data-cfsrc="img1/icons/wallet_icon.png" alt="wallet" style="display:none;visibility:hidden;"><noscript><img src="img1/icons/wallet_icon.png" alt="wallet"></noscript><span>Automatic downstream partner commissions instantly paid to your ETH wallet</span></div>
                </div>
            </div>
            <div class="example">
                <div class="example-title">aston<span>X4</span></div>
                <div class="example-container">
                    <div class="example-row"><img data-cfsrc="img1/icons/boost_icon.png" alt="repeat" style="display:none;visibility:hidden;"><noscript><img src="img1/icons/boost_icon.png" alt="repeat"></noscript><span>Slot fees are automatically paid to your superior partner's ETH wallet</span></div>
                </div>
            </div>
            <div class="examples-more">
                <div class="examples-more__text revealator-slideleft revealator-once">Simultaneous entry into slot one on the <span>X3</span> and <span>X4</span> matrices <br> automatically occurs during program registration </div>
                <div  class="examples-more__btn revealator-fade revealator-zoomin revealator-once">
                    <a  href="#" class="def-btn def-purple pulse">.25 TO JOIN</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-titling examples-titling">PROFITABLE</div>
    <div class="section-bg examples-bg"></div>
    <div class="section-shadow examples-shadow1"></div>
    <div class="section-shadow examples-shadow2"></div>
    <div class="section-shadow examples-shadow3"></div>
    <div class="section-shadow examples-shadow4"></div>
</div>
<!-- Fifth section -->
<div class="section faqq">
    <div class="section-content faq-content">
        <div class="faq-container">
            <div class="faq-title">
                <div class="default-title revealator-slideleft revealator-once">
                    <h2><span>THE FAQS</span></h2>
                </div>
            </div>
            <div class="accordion-wrap">
                <div class="accordion revealator-slideright revealator-once">
                    <div class="accordion-heading">
                        What is aston.run?                        <span class="accordion-heading__arrow">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve" fill="white">
                                <g>
                                    <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
                                        c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
                                        c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
                                        c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
                                </g>
                            </svg>
                        </span>
                    </div>
                    <div class="accordion-content">On February 6, 2020, aston.run became the world's first-ever cryptocurrency matrix project to deploy a self-executing smart contract on the Ethereum Blockchain.<br>
The smart contract is part of a globally distributed network and its operation and transactional data are managed by multiple member computers.  As such, there is no central authority governing the operation of the project, because it was created by the people, for the people.<br>
Inherent features of Ethereum Blockchain smart contracts means that any unauthorized attempts to modify the smart contract or its transactional records is not possible, because the decentralization of these records will be rejected on the basis of data inconsistencies in previous copies of the block.    </div>
                </div>
            </div>
            <div class="accordion-wrap" style="display: none">
                <div class="accordion revealator-slideright revealator-once">
                    <div class="accordion-heading">
                        What is aston.run?                        <span class="accordion-heading__arrow">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve" fill="white">
                                <g>
                                    <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
                                        c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
                                        c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
                                        c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
                                </g>
                            </svg>
                        </span>
                    </div>
                    <div class="accordion-content">On February 6, 2020, aston.run became the world's first-ever cryptocurrency matrix project to deploy a self-executing smart contract on the Ethereum Blockchain.<br>
The smart contract is part of a globally distributed network and its operation and transactional data are managed by multiple member computers.  As such, there is no central authority governing the operation of the project, because it was created by the people, for the people.<br>
Inherent features of Ethereum Blockchain smart contracts means that any unauthorized attempts to modify the smart contract or its transactional records is not possible, because the decentralization of these records will be rejected on the basis of data inconsistencies in previous copies of the block.    </div>
                </div>
            </div>
            <div class="accordion-wrap" style="display: none">
                <div class="accordion revealator-slideright revealator-once">
                    <div class="accordion-heading">
                        What is aston.run?                        <span class="accordion-heading__arrow">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve" fill="white">
                                <g>
                                    <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
                                        c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
                                        c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
                                        c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
                                </g>
                            </svg>
                        </span>
                    </div>
                    <div class="accordion-content">On February 6, 2020, aston.run became the world's first-ever cryptocurrency matrix project to deploy a self-executing smart contract on the Ethereum Blockchain.<br>
The smart contract is part of a globally distributed network and its operation and transactional data are managed by multiple member computers.  As such, there is no central authority governing the operation of the project, because it was created by the people, for the people.<br>
Inherent features of Ethereum Blockchain smart contracts means that any unauthorized attempts to modify the smart contract or its transactional records is not possible, because the decentralization of these records will be rejected on the basis of data inconsistencies in previous copies of the block.    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-wrap">
                <div class="footer-left">
                    <div class="footer-left__logo">© aston</div>
                    <div class="footer-left__address">
                        <span>Smart-contract:</span>
                        <span><a href="https://rinkeby.etherscan.io/address/0xF29aa34099729baa98b17C8FD5b8c11d8d00B9b1" target="_blank">0xF29aa34099729baa98b17C8FD5b8c11d8d00B9b1</a></span>
                    </div>
                </div>
                <div class="footer-right">
                    <a href="https://t.me/aston_official" class="footer-right__social tg" target="_blank"><img src="img1/icons/tg_icon.svg" alt=""></a>
                    <a href="https://www.youtube.com/channel/UCIw_BhcSHA0Gf-z9PAPTSRQ" target="_blank" class="footer-right__social yt"><img src="img1/icons/yt_icon.svg" alt=""></a>
                    <!--
	                <a href="#" class="footer-right__social tt"><img src="/img1/icons/ttt_icon.svg" alt=""></a>
                    <a href="#" class="footer-right__social git"><img src="/img1/icons/last_icon.svg" alt=""></a>
                    -->
                </div>
            </div>
        </footer>
    </div>
    <div class="sectiont-titling faq-titling"></div>
    <div class="section-bg faq-bg"></div>
    <div class="section-shadow faq-shadow1"></div>
    <div class="section-shadow faq-shadow2"></div>
</div>
    </div>
    <!-- !!end of page -->
<div id="marketing-video" class="modal marketing-video">
        <div class="modal-header">
        <div class="list-lang">
                    <a href="javascript:;" data-lang="ru" data-video_key="U7ZFMWvZX-k" class="">
                <img src="img1/flags/ru.svg" alt="" width="50px" height="50px">
            </a>
                    <a href="javascript:;" data-lang="en" data-video_key="m0NzYwFfGH4" class="active">
                <img src="img1/flags/en.svg" alt="" width="50px" height="50px">
            </a>
                </div>
    </div>
    <div class="modal-content">
                <div data-video_lang="ru" class="video-container ">
            <iframe width="90%" src="https://www.youtube.com/embed/U7ZFMWvZX-k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
                <div data-video_lang="en" class="video-container active">
            <iframe width="90%" src="https://www.youtube.com/embed/m0NzYwFfGH4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
            </div>
    <div class="modal-footer">
                <div class="block-copy">
            <span class="link">
                <a href="https://youtu.be/m0NzYwFfGH4" target="_blank">https://youtu.be/m0NzYwFfGH4</a>
            </span>
            <span class="copy">
                <i class="fas fa-copy"></i>
            </span>
        </div>
            </div>
</div>
<div id="Notice"></div>
<script>
var config = {
    site: {
        domain:   location.hostname,
        protocol: location.protocol + '//',
        hostname: location.hostname,
        link: 'https://aston.run/',
    },
    user: {
        refkey: 'unknown',
    },
    lang: {
        /* common.js */
        copied                   : `Copied`,
        // Сокеты события
        'ws-regLevel_0'          : `ID #:{user_id} just joined! Welcome.`,
        'ws-regLevel_1'          : `ID #:{user_id} just joined! Welcome.`,
        'ws-regLevel_2'          : `Introducing New Partner #:{user_id}.`,
        'ws-regLevel_3'          : `ID #:{user_id} just joined. Welcome to aston!`,
        'ws-newUserPlace'        : `ID #:{user_id} received {price_level} {crypto_name} (\${currency_usd}) from the {matrix} matrix`,
        'ws-upgrade'             : `ID #:{user_id} bought {level} for the slot in {matrix} from user {ref_id}.`,
        'ws-reinvest'            : `Automatic reinvestment fee deducted for ID #:{user_id} on {level} for slot ({matrix})`,
        'ws-missedEthReceive'    : `ID #:{user_id} missed profit {price_level} {crypto_name} (\${currency_usd}). Upgrade in ({matrix}) to avoid future losses`,
        'ws-sentExtraEthDividends':`ID #:{user_id} received a bonus {price_level} {crypto_name} (\${currency_usd})`,
        'ws-cannotSendMoneyEvent': `ID #:{user_id} Translation error`,
        'ws-leadingPartner'      : `ID #:{user_id} missed profit {price_level} {crypto_name} (\${currency_usd}) from (ID:{ref_id}) for slot # {level} ({matrix})`,
        'ws-leadingPlacePurchase': `ID #:{user_id} overtook (ID:{up_id}) on slot # {level} ({matrix})`,
        // Скрипт с выводом даты отсчета времени
        'elt-years_0'            : `year`,
        'elt-years_1'            : `year`,
        'elt-years_2'            : `years`,
        'elt-months_0'           : `a month`,
        'elt-months_1'           : `months`,
        'elt-months_2'           : `months`,
        'elt-days_0'             : `day`,
        'elt-days_1'             : `day`,
        'elt-days_2'             : `days`,
        'elt-hours_0'            : `hour`,
        'elt-hours_1'            : `hours`,
        'elt-hours_2'            : `hours`,
        'elt-minutes_0'          : `min`,
        'elt-minutes_1'          : `minutes`,
        'elt-minutes_2'          : `minutes`,
        'elt-seconds_0'          : `second`,
        'elt-seconds_1'          : `seconds`,
        'elt-seconds_2'          : `seconds`,
        'elt-end'                : ` ago`,
        'elt-freshly'            : `just`,
    },
    locked: {
        buyLevel      : ``,
        authorization : ``,
        registration  : ``,
    },
    permissions: {
        buyLevel      : `0`,
    }
};
// Получить основной домен
let arr = config.site.domain.split('.');
if(arr.length > 2) {
    config.site.domain = arr.slice(arr.length - 2).join('.')
}
</script>
<!-- Connecting scripts and libraries -->
<script src="assets/jquery/jquery.min.js"></script>
<script src="gh/fancyapps/fancybox_3-5-7/dist/jquery.fancybox.min.js"></script>
<script src="ajax/libs/materialize/1-0-0/js/materialize.min.js"></script>
<script src="assets/fullpage/scrolloverflow.min.js"></script>
<script src="assets/fullpage/fullpage.min.js"></script>
<script src="assets/fullpage/fullpage.extensions.min.js"></script>
<script src="assets/revealator/fm.revealator.jquery.js"></script>
<script src="js1/index.js"></script>
<!-- created by sellsteam13 | https://www.weblancer.net/users/sellsteam13/ -->
</html>